DataExtraction_Python.ipynb
Dashboard\Interface\Course_report.jpg
Dashboard\Interface\Filter_panel.jpg
Dashboard\Interface\Information_panel.jpg
Dashboard\Interface\Main_report.jpg
Dashboard\Interface\Matrix_report.jpg
Dashboard\Dashboard.pbix
Readme.md